<footer class="app-footer">
  <div class="footer-left">
    <img src="logo/skandia.svg" alt="Skandia" class="footer-logo" />
    <p>© 2019 Skandia</p>

    <p>
      PBX: <span class="highlight">658 4000 / 484 1300</span><br />
      Línea nacional <span class="highlight">01 8000 517 526</span><br />
      Línea Corporativa 658 4123<br />
      Av. 19 # 109A - 30<br />
      Bogotá D.C., Colombia<br />
      <strong>Oficinas a nivel nacional</strong>
    </p>
  </div>

  <div class="footer-center">
    <ul>
      <li><a href="#">Términos y Condiciones Canales de Servicio</a></li>
      <li><a href="#">Defensoría del Consumidor Financiero</a></li>
      <li><a href="#">Protección de Datos</a></li>
      <li><a href="#">Definiciones Generales – Auto declaración FATCA y CRS</a></li>
      <li><a href="#">Recomendaciones de Seguridad</a></li>
      <li><a href="#">Ley de Transparencia</a></li>
      <li><a href="#">Mapa del sitio</a></li>
    </ul>
  </div>

  <div class="footer-right">
    <a href="#"><img src="logo/facebookl.svg" alt="Facebook" /></a>
    <a href="#"><img src="logo/youtube.svg" alt="YouTube" /></a>
    <a href="#"><img src="logo/twitter.svg" alt="Twitter" /></a>
  </div>
</footer>
